body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.converter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
  gap: 6px; /* Further reduced spacing */
}

input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100px;
  font-size: 16px;
  text-align: right;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

label,
p {
  margin: 0 2px; /* Reduced spacing after units */
  font-size: 16px;
}

.label {
  color: red;
  font-weight: bold;
  margin-right: 12px; /* Further reduced spacing after Power and Temperature */
  width: 100%;
}

.unit-label {
  width: 45px; /* Further adjusted width for all unit labels */
  text-align: left; /* Left justified */
}

@media (max-width: 768px) {
  .converter {
    flex-direction: column;
  }
}
