body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.converter {
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
}

input {
  padding: 5px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 62.5px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

label,
p {
  margin: 0 5px;
}

.power-label {
  color: red;
  font-weight: bold;
  margin-right: 10px;
}
